<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bo.elite.tareasdivertidas">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EvaluacionActivity"></activity>
        <activity android:name=".TareasActivity"></activity>
        <activity android:name=".TareasDetailsActivity" />
        <activity android:name=".NuevaTarea" />
        <activity android:name=".MiembroActivity" />
        <activity android:name=".FichaEditarActivity"/>
        <activity android:name=".CrearMiembroActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".PremiosModificarActivity"/>
        <activity android:name=".InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PremiosActivity"/>
        <activity android:name=".fichaPremioActivity"/>
        <activity android:name=".CrearPremioActivity"/>
        <activity android:name=".FichaMiembroActivity"/>
    </application>

</manifest>