<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bo.elite.tareasdivertidas">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Avctivitys.EvaluacionActivity"></activity>
        <activity android:name=".Avctivitys.EvaluacionDeMiembroActivity"></activity>
        <activity android:name=".Avctivitys.TareasActivity"></activity>
        <activity android:name=".Avctivitys.TareasDetailsActivity" />
        <activity android:name=".Avctivitys.NuevaTarea" />
        <activity android:name=".Avctivitys.AsignarMiembrosTareas"/>
        <activity android:name=".Avctivitys.MiembroActivity" />
        <activity android:name=".Avctivitys.FichaEditarActivity"/>
        <activity android:name=".Avctivitys.CrearMiembroActivity" />
        <activity android:name=".Avctivitys.MenuActivity" />
        <activity android:name=".Avctivitys.PremiosModificarActivity"/>
        <activity android:name=".Avctivitys.InicioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Avctivitys.PremiosActivity"/>
        <activity android:name=".Avctivitys.fichaPremioActivity"/>
        <activity android:name=".Avctivitys.CrearPremioActivity"/>
        <activity android:name=".Avctivitys.FichaMiembroActivity"/>
    </application>

</manifest>